.ProjectCard {
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
  text-align: center;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  margin: 50px 0;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }
  .ImageWrapper {
    img {
      width: 300px;
      height: 168.75px;
      object-fit: cover;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (min-width: 768px) {
  .ProjectCard {
    display: flex;
    justify-content: space-around;
    height: 250px;
  }

  .ImageWrapper {
    display: flex;
    align-items: center;
  }

  .ProjectDescription {
    text-align: left;
    flex-basis: 55%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      margin: 0;
    }
  }
}
