h1 {
  font-weight: 600;
  font-size: 30px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
  font-weight: 400;
}

.Container {
  max-width: 1100px;
  margin: auto;
}

.HomeImage {
  width: 300px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

.IndexBanner {
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}

.Queens {
  color: #f3de24;
  transition: 0.3s;
  &:hover {
    color: #bdaa00;
  }
}

.Bounce {
  color: #56ccf2;
  transition: 0.3s;
  &:hover {
    color: #0b94c2;
  }
}

.Logos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  div {
    padding-right: 30px;
    transition: 0.3s;
    width: 100%;
    color: #000;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }
  .HomeImage {
    width: 450px;
  }
  .IndexBanner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1100px;
    padding: 80px 40px;
  }
  .BannerText {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }
  .Logos {
    justify-content: flex-start;
  }
}

.FeaturedSection {
  padding: 40px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.Projects {
  padding: 40px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.ProjectsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: 1100px) {
    justify-content: space-between;
  }
}

.BoomerangBanner {
  background-color: #bbe2ff;
  height: 80vh;
  overflow: hidden;
  text-align: center;
  h2 {
    margin: 30px 10px;
    color: #00497d;
  }
  h3 {
    color: #359be4;
  }
  img {
    width: 300px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .BoomerangBanner {
    img {
      width: 550px;
      overflow: hidden;
    }
  }
}

.ProjectOverview {
  margin: 0 20px;
}

.IntroSection {
  margin-top: 2em;
  background-color: #f2f2f2;
  ul {
    list-style: none;
    padding: 2em;
    margin: 0;
    li {
      padding: 0.25em 0;
      font-weight: 500;
    }
  }
  p {
    padding: 2em;
  }
}

@media (min-width: 556px) {
  .IntroSection {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    ul {
      list-style: none;
      padding: 2em;
      margin: 0;
      li {
        padding: 0.25em 0;
        font-weight: 500;
      }
    }
    p {
      padding: 2em;
      grid-column: 1/4;
    }
  }
}

@media (min-width: 556px) {
  .SurveyResults {
    margin: 5em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    span {
      color: #999999;
      font-size: 0.8em;
    }
    h3 {
      margin: 0;
      color: #2f80ed;
    }
    p {
      margin: 0;
    }
  }
  .SurveyResultsMobile {
    display: none;
  }
}

@media (max-width: 556px) {
  .SurveyResults {
    display: none;
  }
  .SurveyResultsMobile {
    margin: 5em 0;
  }
}

.CompanyReasons {
  margin: 5em 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-columns: 200px minmax(auto);
  h4 {
    color: #2f80ed;
  }
}

.Personas {
  display: flex;
  margin: 4em 0;
}

@media (min-width: 556px) {
  img {
    margin: 0 !important;
  }
}

.PBBanner {
  background-color: #a0e5a9;
  height: 45vh;
  overflow: hidden;
  text-align: center;
  h2 {
    margin: 30px 10px;
    color: #089773;
  }
  h3 {
    color: #469987;
    margin: 30px 10px;
  }
  img {
    width: 300px;
    margin-top: 30px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
  }
}

@media (min-width: 556px) {
  .PBBanner {
    img {
      width: 500px;
      overflow: hidden;
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
    }
  }
}

@media (min-width: 768px) {
  .PBBanner {
    height: 80vh;
    img {
      width: 750px;
      overflow: hidden;
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
    }
  }
}

/*****ABOUT*****/

.About {
  margin: 0 20px;
}

.AboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 325px;
    margin: 50px 0;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .About {
    flex-direction: row;
    .AboutSection {
      flex-direction: row;
      justify-content: space-between;
      img {
        width: 375px;
      }
      .AboutMe {
        flex-basis: 60%;
        padding-left: 30px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .About {
    margin: 0;
  }
  .AboutSection {
    margin: 4em 0;
  }
}

.Overview {
  img {
    text-align: center;
    margin: auto;
  }
}

.Photos {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  img {
    width: 300px;
    height: auto;
    margin: 30px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
    }
  }
}

.Video {
  video {
    width: 325px;
  }
}

@media (min-width: 556px) {
  .Video {
    video {
      width: 100%;
    }
  }
}

/******BOUNCE******/

@media (min-width: 556px) {
  .DesignGoals {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    span {
      color: #999999;
      font-size: 0.8em;
    }
    h3 {
      margin: 0;
      color: #2f80ed;
    }
    p {
      margin: 0;
    }
  }
}

.BouncePage {
  padding: 2em 0;
  p {
    margin-bottom: 2em;
  }
}

.BounceImage {
  overflow: auto;
  height: 500px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  img {
    width: 100%;
  }
}

.BounceLayout {
  img {
    width: 100%;
  }
}

@media (min-width: 556px) {
  .BounceLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 30%;
    }
    p {
      margin-right: 40px;
    }
  }
}

@media (min-width: 800px) {
  .BouncePage {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    .BounceImage {
      overflow: auto;
      height: 500px;
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    }

    p {
      flex-basis: 90%;
      margin-left: 40px;
    }
  }
}
